body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/dark-honeycomb.png");
}

#gameHeader {
    font-size: 24px;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    width: 200px;
    height: 80px;
    background-color: rgb(4, 168, 233);
    margin: 10px;
}
div {
    color: black:
    font-size: 18px;
}
#instrDiv {
    width: 400px;
    height: 240px;
    background-color: rgb(82, 211, 204);
    margin-top: 60px;
    font-size: 14px;
    color: green;
    text-align: left;
    padding: 8px;
}

#ranMatchNum {
    width: 180px;
    height: 100px;
    background-color: green;
    color: black;
    font-size: 24px;
}

#winLossNums {
    width: 140px;
    height: 100px;
    background-color: rgb(204, 129, 211);
    left: 10px;
    color: black;
    font-size: 24px;
    padding: 8px;
}
#pinkPearCrystal.image {
    content:url(../images/pinkPearCrystal.png);
    width: 100px;
    height: 100px;
    top: 10px;
    bottom: 0px;
    left: 0px;
}

#test {
    color: white;
}

#turqCrystal.image {
    content:url(../images/turqCrystal.png);
    width: 100px;
    height: 100px;
    top: 10px;
    bottom: 0px;
    left: 0px;
}

#multiCrystal.image {
    content:url(../images/multiCrystal.png);
    width: 100px;
    height: 100px;
    top: 10px;
    bottom: 0px;
    left: 0px;
}
#purpCrystal.image {
    content:url(../images/purpCrystal.png);
    width: 100px;
    height: 100px;
    top: 10px;
    bottom: 0px;
    left: 0px;
}

#totalScoreText {
    width: 260px;
    margin: auto;
    top: 10px;
    height: 18px;
    background-color: green;
    color: white;
    font-size: 14px;
}

#totalScore {
    width: 260px;
    top: 20px;
    height: 100px;
    background-color: green;
    color: white;
    font-size: 18px;
    padding: 8px;
}
}
