body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/dark-honeycomb.png");
}

#gameHeader {
    font-size: 34px;
    color: white;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(4, 168, 233);
    margin-bottom: 10px;
    margin-top: 10px;
}

div {
    color: black;
    font-size: 18px;
}

#instrDiv {
    font-size: 16px;
    text-align: left;
    padding: 8px;
}

#instrDivHeader {
    background-image: url("../images/dark-honeycomb.png");
    font-size: 22px;
    color: white;
    font-style: bold;
    text-align: center;
}
#ranMatchNumBox {
    background-color: green;
    color: black;
    font-size: 24px;
    font-style: bold;
    height: 100px;
}

#ranMatchNum {
    background-color: green;
    color: black;
    font-size: 24px;
    font-style: bold;
}

#winLossNums {
    background-color: rgb(204, 129, 211);
    left: 10px;
    color: black;
    font-size: 24px;
    padding: 8px;
    height: 100px;
}

#totalScoreText {
    width: 260px;
    margin: auto;
    top: 10px;
    height: 18px;
    background-color: green;
    color: white;
    font-size: 14px;
}

#totalScore {
    width: 260px;
    top: 20px;
    height: 100px;
    background-color: green;
    color: white;
    font-size: 18px;
    padding: 8px;
}

