body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/dark-honeycomb.png");
}

#gameHeader {
    font-size: 34px;
    color: white;
    text-align: center;
    padding-top: 20px;
    background-color: #03a0af;
    margin-bottom: 10px;
    margin-top: 10px;
}

div {
    color: #333;
    font-size: 18px;
}

.crystals {
    height: 180px;
    align-content: center;
}

#instrDiv {
    font-size: 16px;
    text-align: left;
    padding: 8px;
}

#instrDivHeader {
    background-image: url("../images/dark-honeycomb.png");
    font-size: 22px;
    color: white;
    font-style: bold;
    text-align: center;
}
#ranMatchNumBox {
    background-color: #93f1f9;
    color: #333;
    font-size: 24px;
    font-style: bold;
    height: 100px;
}

#ranMatchNum {
    margin-top: 12px;
    color: #333;
    font-size: 28px;
    font-style: bold;
}

#winLoss {
    margin-left: 20px;
    margin-top: 10px;
}

#winLossNums {
    background-color: rgb(204, 129, 211);
    color: #333;
    font-size: 24px;
    height: 100px;
}

#totalScoreCard {
    margin: auto;
}

#totalScoreText {
    background-image: url("../images/dark-honeycomb.png");
    font-size: 22px;
    color: white;
    font-style: bold;
    text-align: center;
    margin-top: 8px;
}

#totalScore {
    width: 260px;
    height: 100px;
    margin: auto;
    color: white;
    font-size: 22px;
}

